<div class="login-content" >
  <form   id="form">
    <div class="input-div one">
      <div class="i">
        <i class="bi bi-person-dash-fill"></i>
      </div>
      <div class="div">
        <input type="text"placeholder="nom" >
      </div>
    </div>
    <div class="input-div one">
      <div class="i">
        <i class="bi bi-person-dash-fill"></i>
      </div>
      <div class="div">
        <input type="text"placeholder="prenom" >
      </div>
    </div>
    <div class="input-div one">
      <div class="i">
        <i class="bi bi-map-fill"></i>
      </div>
      <div class="div">
        <input type="text"placeholder="ville" >
      </div>
    </div>
    <div class="input-div one">
      <div class="i">
        <i class="bi bi-envelope-fill"></i>
      </div>
      <div class="div">
        <input type="email"placeholder="Email" >
      </div>
    </div>
    <div class="input-div pass">
      <div class="i">
        <div class="bi bi-lock">
        </div>
      </div>
      <div class="div">
        <input type="password"  id="" placeholder="Password" >
      </div>
    </div>
    <div class="input-div pass">
      <div class="i">
        <div class="bi bi-lock">
        </div>
      </div>
      <div class="div">
        <input type="password"  id="" placeholder="Confirm Password" >
      </div>
    </div>
    <button class="btn btn-primary text-center" type="submit" >S'inscrit</button>
  </form>
</div>
