  <div class="login-content" >
    <form   id="form">
      <div class="input-div one">
        <div class="i">
          <i class="bi bi-envelope-fill"></i>
        </div>
        <div class="div">
          <input type="email"placeholder="Email" >
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <div class="bi bi-lock">
          </div>
        </div>
        <div class="div">
          <input type="password"  id="" placeholder="Password" >
        </div>
      </div>
      <a href="#" class="text-primary">Mot de passe oublier?</a>
      <button class="btn btn-primary text-center" type="submit" >Se connecter</button>
    </form>
  </div>
