
<main>
  <section class="hero " id="home" >
    <div class="container">
      <h2 class="h1 hero-title">Trouver un(e) maison/magasin a louer en 1Clic!</h2>
    </div>
  </section>
  <section class="tour-search">
    <app-search></app-search>
  </section>
  <div class="mt-5 mb-5" >
    <div class="grid-container">
      <div class="card col col-md-6" style="width: 18rem;">
        <img src="/images/gallery-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maison a louer</h5>
          <ul>
            <li>3 chambres</li>
            <li>1 chambres</li>
            <li>2 Salles de bain</li>
            <li>1 terrase</li>
          </ul>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Voir plus</a>
            <a  class="btn btn-success bi bi-check-circle-fill"></a>
          </div>
        </div>
      </div>
      <div class="card col col-md-6" style="width: 18rem;">
        <img src="/images/gallery-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maison a louer</h5>
          <ul>
            <li>3 chambres</li>
            <li>1 chambres</li>
            <li>2 Salles de bain</li>
            <li>1 terrase</li>
          </ul>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Voir plus</a>
            <a  class="btn btn-danger bi bi-check-circle"></a>
          </div>
        </div>
      </div>
      <div class="card col col-md-6" style="width: 18rem;">
        <img src="/images/gallery-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maison a louer</h5>
          <ul>
            <li>3 chambres</li>
            <li>1 chambres</li>
            <li>2 Salles de bain</li>
            <li>1 terrase</li>
          </ul>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Voir plus</a>
            <a  class="btn btn-success bi bi-check-circle-fill"></a>
          </div>
        </div>
      </div>
      <div class="card col col-md-6" style="width: 18rem;">
        <img src="/images/gallery-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maison a louer</h5>
          <ul>
            <li>3 chambres</li>
            <li>1 chambres</li>
            <li>2 Salles de bain</li>
            <li>1 terrase</li>
          </ul>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Voir plus</a>
            <a  class="btn btn-danger bi bi-check-circle"></a>
          </div>
        </div>
      </div>
      <div class="card col col-md-6" style="width: 18rem;">
        <img src="/images/gallery-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maison a louer</h5>
          <ul>
            <li>3 chambres</li>
            <li>1 chambres</li>
            <li>2 Salles de bain</li>
            <li>1 terrase</li>
          </ul>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Voir plus</a>
            <a class="btn btn-success bi bi-check-circle-fill"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="cta" id="contact">
    <div class="container">
      <div class="cta-content">
        <h2 class="h2 section-title">A propos</h2>

        <h3>1. Rôle de l’équipe intermédiaire :</h3>
        <ul>
          <li class="mb-3">
            Mise en relation : L'équipe facilite la connexion entre des personnes à la recherche de biens à louer (comme des maisons, appartements, ou locaux commerciaux)
            et les propriétaires de ces biens.
          </li>
          <li class="mb-3">
            Gestion administrative : Ils peuvent prendre en charge les démarches administratives comme la gestion des contrats de location,
            les visites des propriétés, et même la gestion des paiements de loyers.
          </li>
          <li class="mb-3">
            Vérification : L'équipe peut vérifier les profils des locataires potentiels (antécédents, solvabilité, etc.)
            afin de s'assurer que les propriétaires louent à des personnes fiables.
          </li>
          <li class="mb-3">
            L'equipe proposent des services plus innovants, avec cette platforme pour simplifier la recherche de biens, la gestion de contrat
            , et les paiements, tout en conservant une équipe humaine pour l’accompagnement.
          </li>
        </ul>
      </div>

      <button class="btn btn-dark">Contact Us !</button>

    </div>
  </section>

</main>


